*/bin
*/obj

*.dat
*.suo

/lib/
/.metadata/
/.tscache
/node_modules
/platforms

*/.DS_Store
*.DS_Store
.DS_Store

platforms/ios/*
!platforms/ios/LearnNativeScript
platforms/ios/LearnNativeScript/*
!platforms/ios/LearnNativeScript/Images.xcassets
!platforms/ios/LearnNativeScript/LearnNativeScript-Info.plist