Page {
    margin: 10;
}

.text {
    padding-bottom: 10;
}

.title, .subTitle {
    font-size: 30;
    horizontal-align: center;
    padding-bottom: 10;
}
.subTitle {
    font-size: 24;
}

Button {
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.codeSidebar {
    background-color: #328CCB;
}

.code {
    padding: 10;
    border-color: #AAAAAA;
    border-width: 1;
    font-family: monospace;
    font-size: 14;
}